@charset "utf-8";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url("slide.css");
@import url("inview.css");

:root {
	--text-color: #333;
	--primary-color: #472973;
	--primary-inverse-color: #fff;
	--global-space: 5vw;
}

@keyframes animation1 {
	0% {
		left: -200px;
	}

	100% {
		left: 0px;
	}
}

@keyframes opa1 {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

body * {
	box-sizing: border-box;
}

html,
body {
	height: auto;
	font-size: 13px;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Meiryo, "メイリオ", "Osaka", "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
	font-optical-sizing: auto;
	-webkit-text-size-adjust: none;
	background: #fff;
	color: var(--text-color);
	line-height: 2;
}

figure {
	margin: 0;
}

dd {
	margin: 0;
}

nav,
ul,
li,
ol {
	margin: 0;
	padding: 0;
}

nav ul {
	list-style: none;
}

section li {
	margin-left: 1rem;
}

table {
	border-collapse: collapse;
}

img {
	border: none;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

video {
	max-width: 100%;
}

iframe {
	width: 100%;
}

input {
	font-size: 1rem;
}

input[type="text"] {
	height: 40px;
}

section+section {
	margin-top: 3rem;
}

.lang {
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
	appearance: none;
}

a {
	color: var(--text-color);
	transition: 0.3s;
}

a:hover {
	text-decoration: none;
	color: var(--primary-color);
}

body:not(.home) #container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#contents {
	flex: 1;
	padding: var(--global-space);
}

#contents #googleplay {
	width: 200px;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	padding: 1vw 3vw;
	font-family: "Reddit Sans", "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	position: absolute;
	z-index: 1;
	width: 100%;
	background-color: #fff;
	z-index: 10000;
}

#logo img {
	display: block;
	width: 160px;
}

#logo a {
	display: block;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 800;

}

#menubar {
	display: none;
}

#menubar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#menubar a {
	display: block;
	text-decoration: none;
}

.large-screen #menubar {
	display: block;
}

.small-screen #menubar.display-block {
	display: block;
}

#menubar_hdr.display-none {
	display: none;
}

.ddmenu_parent ul {
	display: none;
}

a.ddmenu {
	cursor: default;
}

a.ddmenu::before {
	font-family: "Font Awesome 6 Free";
	content: "\f078";
	font-weight: bold;
	margin-right: 0.5em;
}

.large-screen #menubar>nav>ul {
	display: flex;
	font-size: 0.85rem;
	gap: 0.5rem;
}

.large-screen #menubar li a {
	border-radius: 100px;
	padding: 0.2rem 1rem;
	background: #fff;
}

.large-screen #menubar ul ul,
.small-screen #menubar ul ul {
	animation: opa1 0.5s 0.1s both;
}

.large-screen #menubar ul ul {
	position: absolute;
	z-index: 100;
}

.large-screen #menubar ul ul a {
	margin-top: 0.4rem;
}

.small-screen #menubar.display-block {
	position: fixed;
	overflow: auto;
	z-index: 100;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	padding-top: 90px;
	background: rgba(0, 0, 0, 0.9);
	animation: animation1 0.2s both;
}

.small-screen #menubar nav ul li {
	border: 1px solid #ccc;
	margin: 1rem;
	border-radius: 5px;
	padding: 0 2rem;
}

.small-screen #menubar a {
	padding: 1rem;
}

.small-screen #menubar,
.small-screen #menubar a {
	color: #fff;
}

#menubar .sh {
	font-weight: normal;
	padding: 1rem 2rem 2rem;
}

#menubar_hdr {
	animation: opa1 0s 0.2s both;
	position: absolute;
	z-index: 1010000;
	cursor: pointer;
	right: 3vw;
	top: 1vw;
	padding: 16px 14px;
	width: 46px;
	height: 46px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#menubar_hdr span {
	display: block;
	transition: 0.3s;
	border-top: 1.5px solid #333;
}

#menubar_hdr.ham {
	background: #ff0000;
}

#menubar_hdr.ham span:nth-of-type(1),
#menubar_hdr.ham span:nth-of-type(3) {
	transform-origin: center center;
	width: 20px;
	border-color: #fff;
}

#menubar_hdr.ham span:nth-of-type(1) {
	transform: rotate(45deg) translate(3.8px, 5px);
}

#menubar_hdr.ham span:nth-of-type(3) {
	transform: rotate(-45deg) translate(3.8px, -5px);
}

#menubar_hdr.ham span:nth-of-type(2) {
	display: none;
}

main p {
	margin: 0;
	font-size: 1rem;
}

main h2 {
	margin: 10vw 0 0;
	font-family: "Reddit Sans", "Noto Sans JP", sans-serif;
	font-size: 2rem;
	letter-spacing: 0.1em;
	color: var(--primary-color);
}

.bg1 h2 {
	color: var(--primary-inverse-color);
}

main h2 .hosoku {
	display: block;
	font-weight: normal;
	font-size: 0.3em;
}

main h3 {
	display: inline-block;
	border-bottom: 3px solid var(--text-color);
}

main .yometia #maining {
	width: 100%;
}

main .yometia #container #contents {
	flex: 1;
	padding: var(--global-space) var(--global-space) 0;
}

main .yometia #container #contents .flex-head {
	display: block;
	margin: 5vw 0;
}

main .yometia #container #contents .flex-head #maining {
	width: 100%;
}

main .yometia #container #contents .flex-head .flex-column {
	margin: 5vw 0 0;
	text-align: center;
}

main .yometia #container #contents .flex-head .flex-column figure figcaption {
	font-size: 2vw;
	margin: 0 auto;
}

main .yometia #container #contents .flex-head .flex-column figure a img {
	width: 90%;
	margin: 0 auto;
}

.main-contents {
	margin-bottom: 5rem;
}

.sub-contents h3 {
	display: block;
	margin: 0;
	text-align: center;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #ccc;
	background: linear-gradient(transparent, rgba(0, 0, 0, 0.03));
	padding: 0.5rem 0;
}

.submenu {
	padding: 0;
	margin: 0 0 1rem;
}

.submenu a {
	display: block;
	text-decoration: none;
	padding: 0.2rem 1rem;
}

.submenu>li {
	border: 1px solid #ccc;
	border-top: none;
}

.submenu li li a {
	padding-left: 2rem;
}

.sub-contents h3+nav .submenu {
	border-top: none;
}

#footermenu {
	margin: 0 !important;
	padding: 20px;
	text-align: center;
	font-size: 0.8rem;
}

#footermenu li {
	display: inline-block;
	padding: 0 10px;
}

footer small {
	font-size: 100%;
}

footer {
	font-size: 0.7rem;
	text-align: center;
	padding: 20px;
}

footer a {
	color: inherit;
	text-decoration: none;
}

footer .pr {
	display: block;
}

.fade-in-text {
	visibility: hidden;
}

.char {
	display: inline-block;
	opacity: 0;
	animation: fadeIn 0.05s linear both;
}

.new dd {
	padding-bottom: 1rem;
}

.new dt span {
	display: inline-block;
	text-align: center;
	line-height: 1.8;
	border-radius: 3px;
	width: 8rem;
	transform: scale(0.8);
	background: #fff;
	color: #777;
	border: 1px solid #333;
}

.new .icon-bg1 {
	background: #333;
	color: #fff;
}

.new .icon-bg2 {
	background: #ff0000;
	color: #fff;
}

.list-grid1 {
	display: grid;
	color: var(--text-color);
}

.list-grid1 .list {
	display: grid;
}

.list-grid1 .list * {
	margin: 0;
	padding: 0;
}

.list-grid1 .list p {
	font-size: 0.85rem;
}

.list-grid1 img {
	width: 100%;
}

.list-grid1 .list {
	margin: 1rem;
	padding: 1rem;
	background: #fff;
	grid-template-rows: auto 1fr;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.list-grid1 .list figure img {
	margin-bottom: 0.5rem;
}

.btn a,
.btn-border-radius a {
	display: block;
	text-decoration: none;
	font-size: 1rem;
	text-align: center;
	background: var(--primary-color) !important;
	color: var(--primary-inverse-color) !important;
	padding: 0.5rem !important;
	margin-top: 1rem !important;
}

.btn a:hover,
.btn-border-radius a:hover {
	filter: brightness(1.2);
}

.btn-border-radius a {
	display: inline-block;
	padding: 0.5rem 2rem !important;
	border-radius: 100px;
	background: #f53e72 !important;
}

.bg1 {
	position: relative;
	background: var(--primary-color);
	color: var(--primary-inverse-color);
	padding-top: 5vw;
	padding-bottom: 5vw;
	margin-top: 0;
	margin-bottom: 10vw;
	margin-left: calc(-1 * var(--global-space));
	margin-right: calc(-1 * var(--global-space));
	padding-left: var(--global-space);
	padding-right: var(--global-space);
}

.bg1 a {
	color: inherit;
}

.bg1::before,
.bg1::after {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	background: var(--primary-color);
}

.bg1::before {
	top: -5vw;
	clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.bg1::after {
	bottom: -5vw;
	clip-path: polygon(0 0, 100% 0, 0 100%);
}

.thumbnail-parts img {
	width: 32.5%;
	margin: 0.1vw;
	cursor: pointer;
	transition: 0.3s;
}

.thumbnail-parts img:hover {
	opacity: 0.8;
}

.ta1 caption {
	font-weight: bold;
	padding: 0.5rem 1rem;
	background: #333;
	color: #fff;
	margin-bottom: 1rem;
	border-radius: 5px;
}

.ta1 {
	table-layout: fixed;
	border-top: 1px solid #333;
	width: 100%;
	margin-bottom: 2rem;
}

.ta1 tr {
	border-bottom: 1px solid #333;
}

.ta1 th,
.ta1 td {
	padding: 1rem;
	word-break: break-all;
}

.ta1 th {
	width: 30%;
	text-align: left;
	background: #eee;
}

.pagetop-show {
	display: block;
}

.pagetop a {
	display: block;
	text-decoration: none;
	text-align: center;
	z-index: 99;
	position: fixed;
	right: 20px;
	bottom: 20px;
	color: #fff;
	font-size: 1.5rem;
	background: rgba(0, 0, 0, 0.2);
	width: 60px;
	line-height: 60px;
	border-radius: 50%;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.color-check,
.color-check a {
	color: #ff0000 !important;
}

.l {
	text-align: left !important;
}

.c {
	text-align: center !important;
}

.r {
	text-align: right !important;
}

.ws {
	width: 95%;
	display: block;
}

.wl {
	width: 95%;
	display: block;
}

.mb0 {
	margin-bottom: 0px !important;
}

.mb30 {
	margin-bottom: 30px !important;
}

.look {
	display: inline-block;
	padding: 0px 10px;
	background: #eee;
	color: #333;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin: 5px 0;
	word-break: break-all;
}

.small {
	font-size: 0.75em;
}

.large {
	font-size: 2em;
	letter-spacing: 0.1em;
}

.pc {
	display: none;
}

.dn {
	display: none !important;
}

.block {
	display: block !important;
}

@media screen and (min-width:900px) {

	html,
	body {
		font-size: 16px;
	}

	header {
		position: fixed;
	}

	.ws {
		width: 48%;
		display: inline;
	}

	.sh {
		display: none;
	}

	.pc {
		display: block;
	}

	.ta1 th {
		width: 20%;
	}

	.thumbnail-parts img {
		width: 150px;
		height: auto;
	}

	#logo {
		margin: 0 50px 0;
	}

	main h2 {
		margin: 50px 0 0;
	}

	main.column {
		display: flex;
		justify-content: space-between;
		gap: 2rem;
	}

	main .yometia #container #contents {
		flex: 1;
		padding: var(--global-space) var(--global-space) 0;
	}

	main .yometia #container #contents h2.c {
		margin: 0;
	}

	main .yometia #container #contents .flex-head {
		display: flex;
		align-items: flex-end;
		margin: 20px 0 0;
	}

	main .yometia #container #contents .flex-head figure #maining {
		width: 600px;
	}

	main .yometia #container #contents .flex-head .flex-column figure figcaption {
		font-size: 0.6rem;
		margin: 0 10px;
	}

	main .yometia #container #contents .flex-head .flex-column figure a img {
		width: 200px;
		margin: 0 10px;
	}

	.main-contents {
		margin-bottom: 0;
		order: 2;
		flex: 1;
	}

	.sub-contents {
		width: 230px;
	}

	.sub-contents:nth-child(2) {
		order: 1;
	}

	.sub-contents:nth-child(3) {
		order: 3;
	}

	.bg1 {
		padding: 10px;
		margin: 20px;
	}

	.bg1-1 {
		padding: 10px;
		margin: 20px;
	}
}

@media screen and (min-width:800px) {

	.list-grid1 {
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
	}

	.list-grid1 {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}

	.yometia {
		width: 1000px;
		margin: 0 auto;
	}

	.flex-thumbnails {
		display: flex;
		margin: 30px 0;
	}

	.thumbnail-view-parts {
		width: 500px;
		height: 484px;
		margin: 0;
		text-align: center;
	}

	.thumbnail-parts {
		width: 400px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin-bottom: 2rem;
	}
}

@media screen and (min-width:700px) {
	#contents {
		padding: 10px;
	}

	#container {
		width: 1000px;
		margin: auto;
	}

	header {
		justify-content: flex-start;
		padding: 0 auto 0 50px;
	}

	.new {
		display: grid;
		grid-template-columns: auto 1fr;
	}
}

@media screen and (min-width:500px) {
	.list-grid1 {
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}

@media screen and (max-width:600px) {
	#contents {
		padding-top: 2vw;
	}
}